#git+https://github.com/botswana-harvard/edc-sync.git
#git+https://github.com/botswana-harvard/edc-sync-files.git
#git+https://github.com/erikvw/django-crypto-fields.git
#git+https://github.com/erikvw/django-revision.git
git+https://github.com/botswana-harvard/cancer-metadata-rules.git@develop#egg=cancer_metadata_rules
git+https://github.com/botswana-harvard/cancer-reference.git@develop#egg=cancer_reference
git+https://github.com/botswana-harvard/cancer-visit-schedule.git@develop#egg=cancer_visit_schedule
git+https://github.com/clinicedc/edc-appointment.git@develop#egg=edc_appointment
git+https://github.com/clinicedc/edc-base.git@develop#egg=edc_base
git+https://github.com/clinicedc/edc-consent.git@develop#egg=edc_consent
git+https://github.com/clinicedc/edc-constants.git@develop#egg=edc_constants
git+https://github.com/clinicedc/edc-dashboard.git@develop#egg=edc_dashboard
git+https://github.com/clinicedc/edc-device.git@develop#egg=edc_device
git+https://github.com/clinicedc/edc-lab.git@develop#egg=edc_lab
git+https://github.com/clinicedc/edc-identifier.git@develop#egg=edc_identifier
git+https://github.com/clinicedc/edc-lab-dashboard@develop#egg=edc_lab_dashboard
git+https://github.com/clinicedc/edc-fieldsets.git@develop#egg=edc_fieldsets
git+https://github.com/clinicedc/edc-form-validators.git@develop#egg=edc_form_validators
git+https://github.com/clinicedc/edc-label.git@develop#egg=edc_label
git+https://github.com/clinicedc/edc-locator.git@develop#egg=edc_locator
git+https://github.com/clinicedc/edc-metadata.git@develop#egg=edc_metadata
git+https://github.com/clinicedc/edc-metadata-rules.git@develop#egg=edc_metadata_rules
git+https://github.com/clinicedc/edc-offstudy.git@develop#egg=edc_offstudy
git+https://github.com/clinicedc/edc-model-wrapper.git@develop#egg=edc_model_wrapper
git+https://github.com/clinicedc/edc-model-admin.git@develop#egg=edc_model_admin
git+https://github.com/clinicedc/edc-protocol.git@develop#egg=edc_protocol
git+https://github.com/clinicedc/edc-reference.git@develop#edc_reference
git+https://github.com/clinicedc/edc-reportable.git@develop#egg=edc_reportable
git+https://github.com/clinicedc/edc-search@develop#egg=edc_search
git+https://github.com/clinicedc/edc-subject-dashboard@develop#egg=edc_subject_dashboard
git+https://github.com/clinicedc/edc-registration.git@develop#egg=edc_registration
git+https://github.com/clinicedc/edc-sync-files@develop#egg=edc_sync_files
git+https://github.com/clinicedc/edc-sync@develop#egg=edc_sync
git+https://github.com/clinicedc/edc-rest.git@develop#egg=edc_rest
git+https://github.com/clinicedc/edc-timepoint.git@develop#egg=edc_timepoint
git+https://github.com/clinicedc/edc-visit-schedule.git@develop#egg=edc_visit_schedule
git+https://github.com/django-lis/getresults-identifier.git@develop#egg=getresults_identifier
git+https://github.com/clinicedc/edc-visit-tracking.git@develop#egg=edc_visit_tracking
git+https://github.com/erikvw/django-crypto-fields.git@develop#egg=django_crypto_fields
git+https://github.com/clinicedc/edc-action-item.git@develop#egg=edc_action_item
git+https://github.com/erikvw/django-revision.git@develop#egg=django_revision
git+https://github.com/clinicedc/edc-prn.git@develop#egg=edc_prn
git+https://github.com/clinicedc/edc-pharmacy.git@develop#egg=edc_pharmacy
git+https://github.com/clinicedc/edc-facility.git@develop#egg=edc_facility

